body {
    background: #401040   
}

.controller.ds4 {
    background: url(https://raw.githubusercontent.com/testsnake/GPV-Skin-1/main/better%20base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
