.edit.controller.ds4 {
    background: url(unfuzed_base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
.ds4 .meta.pressed {
    background: url(unfuzed_meta.svg) no-repeat center;
}
.ds4 .touchpad.pressed { 
    background-image: url(touchpad.svg); 
}
