.controller.ds4 {
    background: url(based.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
.ds4 .meta.pressed {
    background: url(meta.svg) no-repeat center;
}
